// Import Fonts
  @font-face {
    font-family: 'Roboto-Regular';
    font-weight: normal;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto-Bold';
    font-weight: bold;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto-Italic';
    font-weight: italic;
    src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto-Medium';
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
  }