$btn_primary: #10b26b;
$text_primary: #333758;
$text_gray: #b8b8b8;
$text_white: #ffffff;
$text_blue: #0177ff;
$bg_white: #ffffff;
$bg_black: #000000;
$bg_gray: #f6fafb;
$border_gray: #efeff2;


//fonts
$Roboto-Regular: Roboto-Regular;
$Roboto-Bold: Roboto-Bold;
$Roboto-Italic: Roboto-Italic;
$Roboto-Medium: Roboto-Medium;
