@import "assets/scss/variables";

.wrapper {
    margin-bottom: 14rem;

    .trusted {
        width: 55%;
        // margin-top: 1rem;
    }

    .supportList {
        display: flex;
        gap: 1rem;
        margin-top: 3rem;
        font-size: 0.9rem;

        .listHeading {
            font-weight: bold;
        }

        .learnMore {
            color: $text_blue;
            display: flex;
            align-items: center;
            margin-top: 1rem;
            cursor: pointer;
            .text {
                margin-right: 0.5rem;
            }
        }
    }
}
