@import "assets/scss/variables";
@import "assets/scss/mixins";

.wrapper {
    margin-bottom: 14rem;

    .trusted {
        width: 55%;
        @include medium-screens {
            width: 80%;
            margin-bottom: 1.5rem;
        }
    }

    .supportList {
        display: flex;
        gap: 1rem;
        margin-top: 3rem;
        font-size: 0.9rem;

        @include medium-screens {
            flex-direction: column;
            margin-bottom: 1.5rem;
        }

        .listHeading {
            font-weight: bold;
        }

        .learnMore {
            color: $text_blue;
            display: flex;
            align-items: center;
            margin-top: 1rem;
            cursor: pointer;
            .text {
                margin-right: 0.5rem;
            }
        }
    }
}
