@import "assets/scss/variables";
@import 'assets/scss/mixins';


.wrapper {
    color: $text_gray;
    margin-top: 3rem;
    margin-bottom: 14rem;
    .listContainer {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 4rem;

        @include medium-screens {
            display: block;
        }
        .listItem {
            display: flex;
            width: 25%;
            @include medium-screens {
                width: 100%;
                margin-bottom: 1.5rem;
            }
            .itemIcon {
                padding-right: 2rem;
            }
            .itemheading {
                font-weight: bold;
                color: $text_primary
            }
        }
    }
    .feesRange {
        font-size: 0.9rem;
        text-align: center;
        
    }
}
