@import 'assets/scss/mixins';

.createAccount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9rem;
    @include medium-screens {
      flex-direction: column;
      justify-content: unset;
      align-items: unset;
      margin-bottom: 1.5rem;
  }
  .headerText {
    margin-top: 2rem;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
    width: 50%;

    @include medium-screens {
      width: 80%;
  }
  }

  .createBtn {
    @include medium-screens {
      margin-top: 2rem
  }
  }
}
